<launch>
  <!-- 啟動模擬環境 -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />

  <!-- 啟動導航功能 -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(env HOME)/catkin_ws/src/d11310205/map/my_map.yaml" />
  </include>
</launch>

